name: Build docker image

on: [push]

jobs:
  find_grpcio_versions:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          sudo apt install libxml-xpath-perl
      - id: set-matrix
        run: echo "::set-output name=matrix::$(./find-grpcio-versions.sh)"
    outputs:
        matrix: ${{ steps.set-matrix.outputs.matrix }}

  build:
    needs: find_grpcio_versions
    strategy:
      matrix:
        grpcio-version: ${{ fromJson(needs.find_grpcio_versions.outputs.matrix) }}
    runs-on: ubuntu-latest
    steps:
      - uses: satackey/action-docker-layer-caching@v0.0.11
        # Ignore the failure of a step and avoid terminating the job.
        continue-on-error: true
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          push: true
          build-args: grpcio_version=${{ matrix.grpcio-version }}
          tags: jjst/alpine-python-grpcio:3.13-python3.9-grpcio-${{matrix.grpcio-version}}
